.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #090909;
    overflow-y: hidden
}

.logo {
    font-family: var(--font-sevillana);
    font-size: 48px;
    color: #F69EAC;
}
